@font-face {
    font-family: "Poppins";
    src: url("./Fonts/Poppins-Regular.ttf");
}
*::after, *::before, *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    color: #fff;
    font-family: "Poppins";
}
.container{
    width: 1300px;
    margin: 0 auto;
    padding: 0 20px ;
}
.timer{
    width: 100%;
    height: auto;
    padding: 1rem;
}
.timer__title{
    widows: 100%;
    text-align: center;
}
.timer form{
    padding-top: 2rem;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
form input, form button, .timer__btns button{
    border: 1px solid transparent;
    background: #fff;   
    padding: 0.5em 1rem;
    color: #000;
    border-radius: 10px;
    transition: all 0.5s ease;
    outline: 3px solid transparent;
    font-size: 17px;
    letter-spacing: 1px;
}
form input:focus, button:hover, .timer__btns button:hover{
    outline: 3px solid rgba(0, 255, 255, 0.609);
}
.result{
    widows: 100%;
    padding-top: 4rem;
    text-align: center;
    display: flex;
    justify-content: center;
}
.result__titles{
    width: 100%;
    max-width: 80px;
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    word-spacing: 2px;
    font-size: 20px;
}
.timer__btns{
    padding-top: 3rem;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}